.mycontainer{
    background-color:#fff3cd;
    display: flex;
}

/* .name{
    margin-left: auto;
} */

#container div{
    margin-left: auto;
}

h1{
    font-size :70pt;
}

tbody tr{
    border: solid 1px #C6BB97;
}

tr td{
    border: solid 1px #C6BB97;
}

tr > td{
    text-align: center;
}

td img{
    width: 150px;
}